<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Dtnasc:</strong>
  <%= @cliente.dtNasc %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @cliente.resumo %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @cliente.titulo %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
