<%= form_for(@agencium) do |f| %>
  <% if @agencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agencium.errors.count, "error") %> prohibited this agencium from being saved:</h2>

      <ul>
      <% @agencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :nomadministrador %><br>
    <%= f.text_field :nomadministrador %>
  </div>
  <div class="field">
    <%= f.label :emailadministrador %><br>
    <%= f.text_field :emailadministrador %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :tipocontaagencia %><br>
    <%= f.text_field :tipocontaagencia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
