<p id="notice"><%= notice %></p>

<h1>Listing Agencia</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nomadministrador</th>
      <th>Emailadministrador</th>
      <th>Status</th>
      <th>Tipocontaagencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencia.each do |agencium| %>
      <tr>
        <td><%= agencium.nome %></td>
        <td><%= agencium.nomadministrador %></td>
        <td><%= agencium.emailadministrador %></td>
        <td><%= agencium.status %></td>
        <td><%= agencium.tipocontaagencia %></td>
        <td><%= link_to 'Show', agencium %></td>
        <td><%= link_to 'Edit', edit_agencium_path(agencium) %></td>
        <td><%= link_to 'Destroy', agencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agencium', new_agencium_path %>
