<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @agencium.nome %>
</p>

<p>
  <strong>Nomadministrador:</strong>
  <%= @agencium.nomadministrador %>
</p>

<p>
  <strong>Emailadministrador:</strong>
  <%= @agencium.emailadministrador %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agencium.status %>
</p>

<p>
  <strong>Tipocontaagencia:</strong>
  <%= @agencium.tipocontaagencia %>
</p>

<%= link_to 'Edit', edit_agencium_path(@agencium) %> |
<%= link_to 'Back', agencia_path %>
