<h1>Dashboard#show</h1>

<p>Acesso</p>
<%= link_to "Usuarios", controller: "usuarios"  %>
<%= link_to "Agencias", controller: "agencia"  %>
<p>Curriculos</p>
<%= link_to "Clientes", controller: "clientes"  %>
<%= link_to "Experiências", controller: "experiencia"  %>
<%= link_to "Formações", controller: "formacaos"  %>
<%= link_to "Cursos", controller: "cursos"  %>
<%= link_to "Idiomas", controller: "idiomas"  %>
<p>Oportunidades</p>
<%= link_to "Empresas", controller: "empresas"  %>
<%= link_to "Vagas", controller: "vagas"  %>
<p>Acompanhamento</p>
<%= link_to "Temporarios", controller: "temporarios"  %>
<%= link_to "Feedbacks", controller: "feedbacks"  %>
<p>Contas</p>
<%= link_to "Contas Agências", controller: "conta_agencia"  %>
<%= link_to "Contas Empresas", controller: "conta_empresas"  %>
<p></p>
<%= button_to "Sair" %>

<p>Find me in app/views/dashboard/show.html.erb</p>

