<%= form_for(@experiencium) do |f| %>
  <% if @experiencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiencium.errors.count, "error") %> prohibited this experiencium from being saved:</h2>

      <ul>
      <% @experiencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idCliente %><br>
    <%= f.text_field :idCliente %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :empresa %><br>
    <%= f.text_field :empresa %>
  </div>
  <div class="field">
    <%= f.label :dtInicial %><br>
    <%= f.date_select :dtInicial %>
  </div>
  <div class="field">
    <%= f.label :dtFinal %><br>
    <%= f.date_select :dtFinal %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
