<p id="notice"><%= notice %></p>

<h1>Listing Experiencia</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Cargo</th>
      <th>Empresa</th>
      <th>Dtinicial</th>
      <th>Dtfinal</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiencia.each do |experiencium| %>
      <tr>
        <td><%= experiencium.idCliente %></td>
        <td><%= experiencium.cargo %></td>
        <td><%= experiencium.empresa %></td>
        <td><%= experiencium.dtInicial %></td>
        <td><%= experiencium.dtFinal %></td>
        <td><%= experiencium.descricao %></td>
        <td><%= link_to 'Show', experiencium %></td>
        <td><%= link_to 'Edit', edit_experiencium_path(experiencium) %></td>
        <td><%= link_to 'Destroy', experiencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiencium', new_experiencium_path %>
