<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @experiencium.idCliente %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @experiencium.cargo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @experiencium.empresa %>
</p>

<p>
  <strong>Dtinicial:</strong>
  <%= @experiencium.dtInicial %>
</p>

<p>
  <strong>Dtfinal:</strong>
  <%= @experiencium.dtFinal %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @experiencium.descricao %>
</p>

<%= link_to 'Edit', edit_experiencium_path(@experiencium) %> |
<%= link_to 'Back', experiencia_path %>
