<p id="notice"><%= notice %></p>

<h1>Listing Conta Agencia</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Formapgto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta_agencia.each do |conta_agencium| %>
      <tr>
        <td><%= conta_agencium.valor %></td>
        <td><%= conta_agencium.formaPgto %></td>
        <td><%= link_to 'Show', conta_agencium %></td>
        <td><%= link_to 'Edit', edit_conta_agencium_path(conta_agencium) %></td>
        <td><%= link_to 'Destroy', conta_agencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conta agencium', new_conta_agencium_path %>
