<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @conta_agencium.valor %>
</p>

<p>
  <strong>Formapgto:</strong>
  <%= @conta_agencium.formaPgto %>
</p>

<%= link_to 'Edit', edit_conta_agencium_path(@conta_agencium) %> |
<%= link_to 'Back', conta_agencia_path %>
