<p id="notice"><%= notice %></p>

<h1>Listing Idiomas</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Nomeinstituicao</th>
      <th>Titulo</th>
      <th>Nivel</th>
      <th>Dtinicio</th>
      <th>Dtfinal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @idiomas.each do |idioma| %>
      <tr>
        <td><%= idioma.idCliente %></td>
        <td><%= idioma.nomeInstituicao %></td>
        <td><%= idioma.titulo %></td>
        <td><%= idioma.nivel %></td>
        <td><%= idioma.dtInicio %></td>
        <td><%= idioma.dtFinal %></td>
        <td><%= link_to 'Show', idioma %></td>
        <td><%= link_to 'Edit', edit_idioma_path(idioma) %></td>
        <td><%= link_to 'Destroy', idioma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idioma', new_idioma_path %>
