<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @idioma.idCliente %>
</p>

<p>
  <strong>Nomeinstituicao:</strong>
  <%= @idioma.nomeInstituicao %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @idioma.titulo %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @idioma.nivel %>
</p>

<p>
  <strong>Dtinicio:</strong>
  <%= @idioma.dtInicio %>
</p>

<p>
  <strong>Dtfinal:</strong>
  <%= @idioma.dtFinal %>
</p>

<%= link_to 'Edit', edit_idioma_path(@idioma) %> |
<%= link_to 'Back', idiomas_path %>
