<%= form_for(@temporario) do |f| %>
  <% if @temporario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temporario.errors.count, "error") %> prohibited this temporario from being saved:</h2>

      <ul>
      <% @temporario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idvaga %><br>
    <%= f.text_field :idvaga %>
  </div>
  <div class="field">
    <%= f.label :idcliente %><br>
    <%= f.text_field :idcliente %>
  </div>
  <div class="field">
    <%= f.label :inscrito %><br>
    <%= f.text_field :inscrito %>
  </div>
  <div class="field">
    <%= f.label :preselecionado %><br>
    <%= f.text_field :preselecionado %>
  </div>
  <div class="field">
    <%= f.label :efetivado %><br>
    <%= f.text_field :efetivado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
