<p id="notice"><%= notice %></p>

<h1>Listing Temporarios</h1>

<table>
  <thead>
    <tr>
      <th>Idvaga</th>
      <th>Idcliente</th>
      <th>Inscrito</th>
      <th>Preselecionado</th>
      <th>Efetivado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temporarios.each do |temporario| %>
      <tr>
        <td><%= temporario.idvaga %></td>
        <td><%= temporario.idcliente %></td>
        <td><%= temporario.inscrito %></td>
        <td><%= temporario.preselecionado %></td>
        <td><%= temporario.efetivado %></td>
        <td><%= link_to 'Show', temporario %></td>
        <td><%= link_to 'Edit', edit_temporario_path(temporario) %></td>
        <td><%= link_to 'Destroy', temporario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temporario', new_temporario_path %>
