<p id="notice"><%= notice %></p>

<p>
  <strong>Idvaga:</strong>
  <%= @temporario.idvaga %>
</p>

<p>
  <strong>Idcliente:</strong>
  <%= @temporario.idcliente %>
</p>

<p>
  <strong>Inscrito:</strong>
  <%= @temporario.inscrito %>
</p>

<p>
  <strong>Preselecionado:</strong>
  <%= @temporario.preselecionado %>
</p>

<p>
  <strong>Efetivado:</strong>
  <%= @temporario.efetivado %>
</p>

<%= link_to 'Edit', edit_temporario_path(@temporario) %> |
<%= link_to 'Back', temporarios_path %>
