<p id="notice"><%= notice %></p>

<h1>Listing Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Nomeinstituicao</th>
      <th>Titulo</th>
      <th>Dtinicio</th>
      <th>Dtfinal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.idCliente %></td>
        <td><%= curso.nomeInstituicao %></td>
        <td><%= curso.titulo %></td>
        <td><%= curso.dtInicio %></td>
        <td><%= curso.dtFinal %></td>
        <td><%= link_to 'Show', curso %></td>
        <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
        <td><%= link_to 'Destroy', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curso', new_curso_path %>
