<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @curso.idCliente %>
</p>

<p>
  <strong>Nomeinstituicao:</strong>
  <%= @curso.nomeInstituicao %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @curso.titulo %>
</p>

<p>
  <strong>Dtinicio:</strong>
  <%= @curso.dtInicio %>
</p>

<p>
  <strong>Dtfinal:</strong>
  <%= @curso.dtFinal %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
