<p id="notice"><%= notice %></p>

<h1>Listing Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Idusuario</th>
      <th>Descricao</th>
      <th>Nota</th>
      <th>Idvaga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.idcliente %></td>
        <td><%= feedback.idusuario %></td>
        <td><%= feedback.descricao %></td>
        <td><%= feedback.nota %></td>
        <td><%= feedback.idvaga %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
