<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @feedback.idcliente %>
</p>

<p>
  <strong>Idusuario:</strong>
  <%= @feedback.idusuario %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @feedback.descricao %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @feedback.nota %>
</p>

<p>
  <strong>Idvaga:</strong>
  <%= @feedback.idvaga %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
