<p id="notice"><%= notice %></p>

<h1>Listing Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Empresa</th>
      <th>Dtinicial</th>
      <th>Dtfinal</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.titulo %></td>
        <td><%= vaga.descricao %></td>
        <td><%= vaga.empresa %></td>
        <td><%= vaga.dtinicial %></td>
        <td><%= vaga.dtfinal %></td>
        <td><%= vaga.status %></td>
        <td><%= link_to 'Show', vaga %></td>
        <td><%= link_to 'Edit', edit_vaga_path(vaga) %></td>
        <td><%= link_to 'Destroy', vaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaga', new_vaga_path %>
