<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @vaga.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @vaga.descricao %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @vaga.empresa %>
</p>

<p>
  <strong>Dtinicial:</strong>
  <%= @vaga.dtinicial %>
</p>

<p>
  <strong>Dtfinal:</strong>
  <%= @vaga.dtfinal %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vaga.status %>
</p>

<%= link_to 'Edit', edit_vaga_path(@vaga) %> |
<%= link_to 'Back', vagas_path %>
