<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_area :endereco %>
  </div>
  <div class="field">
    <%= f.label :tamanho %><br>
    <%= f.text_field :tamanho %>
  </div>
  <div class="field">
    <%= f.label :nmresponsavelrh %><br>
    <%= f.text_field :nmresponsavelrh %>
  </div>
  <div class="field">
    <%= f.label :emailresponsavelrh %><br>
    <%= f.text_field :emailresponsavelrh %>
  </div>
  <div class="field">
    <%= f.label :tipocontaempresa %><br>
    <%= f.text_field :tipocontaempresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
