<p id="notice"><%= notice %></p>

<h1>Listing Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Site</th>
      <th>Endereco</th>
      <th>Tamanho</th>
      <th>Nmresponsavelrh</th>
      <th>Emailresponsavelrh</th>
      <th>Tipocontaempresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nome %></td>
        <td><%= empresa.descricao %></td>
        <td><%= empresa.site %></td>
        <td><%= empresa.endereco %></td>
        <td><%= empresa.tamanho %></td>
        <td><%= empresa.nmresponsavelrh %></td>
        <td><%= empresa.emailresponsavelrh %></td>
        <td><%= empresa.tipocontaempresa %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
