<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empresa.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @empresa.descricao %>
</p>

<p>
  <strong>Site:</strong>
  <%= @empresa.site %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @empresa.endereco %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @empresa.tamanho %>
</p>

<p>
  <strong>Nmresponsavelrh:</strong>
  <%= @empresa.nmresponsavelrh %>
</p>

<p>
  <strong>Emailresponsavelrh:</strong>
  <%= @empresa.emailresponsavelrh %>
</p>

<p>
  <strong>Tipocontaempresa:</strong>
  <%= @empresa.tipocontaempresa %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
