<%= form_for(@conta_empresa) do |f| %>
  <% if @conta_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conta_empresa.errors.count, "error") %> prohibited this conta_empresa from being saved:</h2>

      <ul>
      <% @conta_empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :formaPgto %><br>
    <%= f.text_field :formaPgto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
