<p id="notice"><%= notice %></p>

<h1>Listing Conta Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Formapgto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta_empresas.each do |conta_empresa| %>
      <tr>
        <td><%= conta_empresa.valor %></td>
        <td><%= conta_empresa.formaPgto %></td>
        <td><%= link_to 'Show', conta_empresa %></td>
        <td><%= link_to 'Edit', edit_conta_empresa_path(conta_empresa) %></td>
        <td><%= link_to 'Destroy', conta_empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conta empresa', new_conta_empresa_path %>
