<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @conta_empresa.valor %>
</p>

<p>
  <strong>Formapgto:</strong>
  <%= @conta_empresa.formaPgto %>
</p>

<%= link_to 'Edit', edit_conta_empresa_path(@conta_empresa) %> |
<%= link_to 'Back', conta_empresas_path %>
