<%= form_for(@formacao) do |f| %>
  <% if @formacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formacao.errors.count, "error") %> prohibited this formacao from being saved:</h2>

      <ul>
      <% @formacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idCliente %><br>
    <%= f.text_field :idCliente %>
  </div>
  <div class="field">
    <%= f.label :nomeInstituicao %><br>
    <%= f.text_field :nomeInstituicao %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :dtInicio %><br>
    <%= f.date_select :dtInicio %>
  </div>
  <div class="field">
    <%= f.label :dtFinal %><br>
    <%= f.date_select :dtFinal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
