<p id="notice"><%= notice %></p>

<h1>Listing Formacaos</h1>

<table>
  <thead>
    <tr>
      <th>Idcliente</th>
      <th>Nomeinstituicao</th>
      <th>Titulo</th>
      <th>Dtinicio</th>
      <th>Dtfinal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formacaos.each do |formacao| %>
      <tr>
        <td><%= formacao.idCliente %></td>
        <td><%= formacao.nomeInstituicao %></td>
        <td><%= formacao.titulo %></td>
        <td><%= formacao.dtInicio %></td>
        <td><%= formacao.dtFinal %></td>
        <td><%= link_to 'Show', formacao %></td>
        <td><%= link_to 'Edit', edit_formacao_path(formacao) %></td>
        <td><%= link_to 'Destroy', formacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formacao', new_formacao_path %>
