<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @formacao.idCliente %>
</p>

<p>
  <strong>Nomeinstituicao:</strong>
  <%= @formacao.nomeInstituicao %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @formacao.titulo %>
</p>

<p>
  <strong>Dtinicio:</strong>
  <%= @formacao.dtInicio %>
</p>

<p>
  <strong>Dtfinal:</strong>
  <%= @formacao.dtFinal %>
</p>

<%= link_to 'Edit', edit_formacao_path(@formacao) %> |
<%= link_to 'Back', formacaos_path %>
